{% extends "pancake/base.html" %}
<!-- detail.html -->

{% block subtitle %}Sensor detail{% endblock %}

{% block content %}
{% if error_msg %}
<div>
    <h3 style="color:#ee0000">{{ error_msg }}</h3>
</div>
{% endif %}

<div class="div_detail">
    Sensor:
    <select id="sensor_select">
        <option value="" selected>Select a sensor</option>
        {% for sensor in sensors %}
            <option value="{{ sensor }}">{{ sensor }}</option>
        {% endfor %}
    </select>

<div class="div_reading">
    <form action="{% url 'change_reading' %}" method="post">
        {% csrf_token %}
        <input type="text" id="s_name_rd" name="sensor_name" hidden>
        <select name="reading_name" id="reading_dropdown">
            <option value="" selected>Select reading</option>
        </select><br>
        <fieldset>
            <legend id="rd_legend">No reading selected</legend>
            <input type="text" id="rd_name" name="reading_name" hidden><br>
            Status: <select name="status" id="rd_status"></select><br>
            Runmode: <select name="runmode" id="rd_runmode"></select><br>
            Readout interval (seconds): <input type="number" min="1" max="300" step="1" id="rd_roi" name="readout_interval"><br>
            Alarms: 
            {% for type in types %}
            <table  id='{{ type }}_table'>
                <thead>
                    <tr>
                        <input type="text" id="{{type}}_enabled" name="{{type}}__enabled" hidden>
                        <th colspan="2">  {{type}} <input type="checkbox" onclick="toggle_enabled('{{type}}')" id="{{type}}_checkbox" checked></th></tr></thead>
                <tbody id="{{type}}_body"></tbody>
            </table>
            {% endfor %}
            
            Config:
            <ul id="rd_cfg_list"></ul>
            <button type="submit" value="Submit" id="rdbtn" disabled>Submit</button>
            <button type="reset" value="Reset">Reset</button>
        </fieldset>
    </form>
</div>

<div class="div_address">
    <form action="{% url 'change_address' %}" method="post">
        {% csrf_token %}
        <input type="text" id="s_name_addr" name="sensor_name" hidden>
        <fieldset id="address_block">
        </fieldset>
    </form>
</div>

<div class="div_command">
    <form action="{% url 'log_command' %}" method="post">
        {% csrf_token %}
        <fieldset>
            <legend>Custom command</legend>
            <input type="text" id="s_name_rd" name="sensor_name" hidden>
            <input type="text" name="command"><br>
            <button type="submit" value="Submit">Submit</button>
        </fieldset>
    </form>
</div>

</div>
{% endblock %}

{% block javascript %}
    <script>
        function toggle_enabled(type) {
            var enabled = document.getElementById(type + '_enabled');
            var body = document.getElementById(type + '_body');
            if (enabled.value === "false") {
                body.style.display = "table-header-group";
                enabled.value = "true";
            } else {
                body.style.display = "none";
                enabled.value = "false";
            }
        }

        $("#sensor_select").change(function() {LoadSensorDetails($(this).val())});
        $('#reading_dropdown').change(function() {GetReadingDetails($("#s_name_rd").val(), $(this).val())});
    </script>
{% endblock %}
