{% load static %}

<html>
    <head>
        <title>Doberview</title>
        <meta charset='utf-8'>
        <script src="http://code.jquery.com/jquery-latest.min.js"></script>

        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <script src="{% static 'js/scripts.js' %}"></script>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    </head>

    <body>

        <!-- menu bar on top -->
        <div id="topmenu" class="navbar">
            <a href="{% url 'index' %}">Overview</a>
            <div class="dropdown">
                <button class="dropbtn">Sensor details
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    {% if sensors %}
                        {% for name in sensors %}
                            <a href="{% url 'detail' name=name %}">{{ name }}</a>
                        {% endfor %}
                    {% else %}
                        <p>No sensors available</p>
                    {% endif %}
                </div>
            </div>
            <a href="{% url 'trend' %}">Trend</a>
        </div>

        <header>
            <h1>Doberman Overview</h1>
            <h2>{% block subtitle %}{% endblock %}</h2>
        </header>

        <!-- main section -->
        <section>
            {% block content %}
            {% endblock %}
        </section>

    {% block javascript %}
    {% endblock %}

    </body>

</html>
