{% load static %}

<html>
    <head>
        <title>Doberview</title>
        <meta charset='utf-8'>
        <script src="http://code.jquery.com/jquery-latest.min.js"></script>

        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <script src="{% static 'js/scripts_sc.js' %}"></script>
        {% block extrahead %}{% endblock %}

    </head>

    <body>

        <!-- menu bar on top -->
        <div id="topmenu" class="navbar">
            <a href="{% url 'index' %}">Overview</a>
            <a href="{% url 'detail' %}">Sensor details</a>
            <a href="{% url 'trend' %}">Trend</a>
            <a href="{% url 'contacts' %}">Contact management</a>
            <a href="/control/">DAQ</a>
        </div>

        <header>
            <h1>Doberman Overview</h1>
            <h2 id="subtitle">{% block subtitle %}{% endblock %}</h2>
        </header>

        <!-- main section -->
        <section>
            {% block content %}
            {% endblock %}
        </section>

    {% block javascript %}
    {% endblock %}

    </body>

</html>
