{% extends "doberview/base.html" %}
<!-- contacts.html -->

{% block subtitle %}Contact management{% endblock %}

{% block content %}

<div>
    <h3>Available contacts</h3>
    <ul>
        {% for contact in contacts %}
        {% if contact.status == -1 %}
            <li>{{ contact.name }}</li>
        {% else %}
            <li><b>{{ contact.name }}</b></li>
        {% endif %}
        {% endfor %}
    </ul>

    <form action="{% url 'change_contact_status' %}" method="post">
        <fieldset>
            <legend>Contact management</legend>
            Primary: <select name="primary">
                <option value="None" selected>None</option>
                {% for contact in contacts %}
                <option value="{{ contact.name }}">{{ contact.name }}</option>
                {% endfor %}
            </select>
            Secondary: <select name="secondary1">
                <option value="None" selected>None</option>
                {% for contact in contacts %}
                <option value="{{ contact.name }}">{{ contact.name }}</option>
                {% endfor %}
            </select>
            Secondary: <select name="secondary2">
                <option value="None" selected>None</option>
                {% for contact in contacts %}
                <option value="{{ contact.name }}">{{ contact.name }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Submit">
        </fieldset>
    </form>
    <form action="{% url 'new_contact' %}" method="post">
        <fieldset>
            <legend>New contact</legend>
            <input type="text" placeholder="First name" name="firstname" required>
            <input type="text" placeholder="Family name" name="lastname" required>
            <input type="email" placeholder="Email" name="email" required>
            <input type="text" placeholder="SMS" name="sms" required>
            <input type="submit" value="Add new contact">
        </fieldset>
    </form>
</div>

{% endblock %}
