{% extends "doberview/base.html" %}
<!-- index.html -->

{% block subtitle %}Current status{% endblock %}

{% block content %}
    <div style="background-color:#eeeeee;padding:5px;border-radius:5px">
        <h2 style="background-color:#dddddd;padding:2px;border-radius:2px">Sensor status overview</h2>
        {% for name in sensors %}
            <table>
                <thead>
                    <tr>
                        <th colspan="4" id="{{ name }}_head">{{ name }}</th>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <th>Time</th>
                        <th>Value</th>
                        <th>Runmode</th>
                    </tr>
                </thead>
                <tbody id="{{ name }}_body">
                    <tr><td colspan="4">Loading!</td></tr>
                </tbody>
            </table>
        {% endfor %}
    </div>
    <br>
    <div style="background-color:#eeeeee:padding:30px">
        <h2 style="background-color:#dddddd">Recent log entries</h2>
        <table>
            <thead>
                <tr>
                    <th>Time</th>
                    <th>Level</th>
                    <th>Name</th>
                    <th>Message</th>
                </tr>
            </thead>
            <tbody id="logtable"></tbody>
        </table>
    </div>
    <br>
    <div style="background-color:#eeeeee:padding:40px">
        <h2 style="background-color:#dddddd">Recent alarms</h2>
        <table>
            <tr>
                <th>Time</th>
                <th>Name</th>
                <th>Message</th>
            </tr>
            <tbody id="alarmtable"></tbody>
        </table>
    </div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        window.setInterval(function() {
                                    UpdateOverview();
                                    UpdateLogs();
                                    UpdateAlarms();
                                },
                            10000);
        window.onLoad = UpdateOverview;

    </script>
{% endblock %}
