<!-- base.html -->
{% load static %}

<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
</style>
<html>
    <head>
        <title>XeBRA DAQ</title>
        <meta charset="utf-8">
        <script src="http://code.jquery.com/jquery-latest.min.js"></script>
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <script src="{% static 'js/scripts_daq.js' %}"></script>

    </head>

    <body>
        <div id="headerbar">
            <a href="{% url 'index' %}">Index</a>
            <a href="{% url 'config' %}">Configurator</a>
            <a href="/doberview/">Slow control</a>
        </div>
        <header>
            <h1>XeBRA</h1>
            <h2>{% block subtitle %}{% endblock %}</h2>
        </header>

        <section>
            {% block content %}
            {% endblock %}
        </section>
    </body>

    {% block javascripts %}
    {% endblock %}

</html>
