{% load static %}

<html>
    <head>
        <title>Doberview</title>
        <meta charset='utf-8'>
        <script src="http://code.jquery.com/jquery-latest.min.js"></script>

        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <script src="{% static 'js/scripts_xebra.js' %}"></script>
        {% block extrahead %}{% endblock %}

    </head>

    <body>

        <!-- menu bar on top -->
        <div id="topmenu" class="navbar">
            <div class="dropdown">
                <button class="dropbtn">Experiment  &#9660;</button>
                <div class="dropdown-content">
                    <a href="/xebra/">Xebra</a>
                </div>
            </div>
            <a href="/xebra">Overview</a>
            <a href="/xebra/diagrams">Diagrams</a>
            <a href="/xebra/hosts">Host settings</a>
            <a href="/xebra/detail">Sensor details</a>
            <a href="/xebra/caen_hv">PMT control</a>
            <a href="/xebra/contacts">Contact management</a>
            <a href="/control/">DAQ</a>
        </div>

        <header>
            <h1>Xebra Overview</h1>
            <h2 id="subtitle">{% block subtitle %}{% endblock %}</h2>
        </header>

        <!-- main section -->
        <section>
            {% block content %}
            {% endblock %}
        </section>

    {% block javascript %}
    {% endblock %}

    </body>

</html>
