{% extends "xebra/base.html" %}
<!-- caen_hv.html -->

{% block extrahead %}
<script src="/static/js/scripts_hv.js"></script>
{% endblock %}

{% block subtitle %}HV crate control {% endblock %}

{% block content %}
<table>
   <thead>
        <th><button onclick="ToggleEdit()">Edit</button></th>
        <th colspan="10">Note: Updates may take up to 20 seconds before they are shown in the table</th>
        <th>
            <form action="/xebra/scram/" method="post">
                {% csrf_token %}
                <button type="submit" id="scrambtn">Scram</button>
            </form>
        </th>
   </thead>
</table>
<div>
    <form action="/xebra/update_pmts/" method="post">
    {% csrf_token %}
    <table>
        <thead>
            <tr>
                <th><button type="submit" id="submit_bt" value="Submit" disabled="true">Submit</button></th>
                <th colspan="11">PMT control</th>
            </tr><tr>
                <th>Channel</th>
                <th>Status</th>
                <th>Voltage (V)</th>
                <th>Setpoint (V)</th>
                <th>Control</th>
                <th>Current (&#956;A)</th>
                <th>Trip current (&#956;A)</th>
                <th>Trip time (s)</th>
                <th>Ramp up (V/s)</th>
                <th>Ramp down (V/s)</th>
                <th>Enabled?</th>
                <th>Power down</th>
            </tr>
        </thead>
        <tbody>
                {% for ch in pmt_crate_channels %}
                <tr>
                    <td class="tr_ch">{{ ch }}</td>
                    <td id="ch{{ ch }}_stat" class="tr_stat">
                    </td>
                    <td id="ch{{ ch }}_vmon" class="tr_vmon">
                    </td>
                    <td>
                        <input type="number" id="ch{{ ch }}_setp" name="ch{{ ch }}_setp" class="setp" max="3500" min="0", readonly="true">
                    </td>
                    <td id="ch{{ ch }}_pw" class="tr_pw">
                        <select name="ch{{ ch }}_pw" class="pw" disabled="true">
                            <option value="On">On</option>
                            <option value="Off">Off</option>
                        </select>
                    </td>
                    <td id="ch{{ ch }}_imon" class="tr_imon">
                    </td>
                    <td >
                        <input type="number" id="ch{{ ch }}_tripi" name="ch{{ ch }}_tripi" class="tripi"  max="3000" min="0", readonly="true">
                    </td>
                    <td >
                        <input type="number" id="ch{{ ch }}_tript" name="ch{{ ch }}_tript" class="tript" max="1000" min="0", step="0.1", readonly="true">
                    </td>
                    <td>
                        <input type="number" id="ch{{ ch }}_rup" name="ch{{ ch }}_rup" class="rup" max="500" min="1", readonly="true">
                    </td>
                    <td>
                        <input type="number" id="ch{{ ch }}_rdn" name="ch{{ ch }}_rdn" class="rdn" max="500" min="1", readonly="true">
                    </td>
                    <td id="ch{{ ch }}_pon" class="tr_pon">
                        <select name="ch{{ ch }}_pon" class="pon", disabled="true">
                            <option value="En">En</option>
                            <option value="Dis">Dis</option>
                        </select>
                    </td>
                    <td id="ch{{ ch }}_pdn" class="tr_pdn">
                        <select name="ch{{ ch }}_pdn" class="pdn" disabled="true">
                            <option value="Ramp">Ramp</option>
                            <option value="Kill">Kill</option>
                        </select>
                    </td>
                </tr>
                {% endfor %}
        </tbody>
        <tfoot></tfoot>
    </table>
</form>
</div>

{% endblock %}

{% block javascript %}
    <script>
        var interval = window.setInterval(function() {UpdatePMTTable("fast")}, 2000);
        window.onLoad = UpdatePMTTable("fast");
        function ToggleEdit() {
            window.clearInterval(interval)
            document.getElementById("submit_bt").disabled = false;
            var setpt = document.getElementsByClassName("setp");
            var tripi = document.getElementsByClassName("tripi");
            var tript = document.getElementsByClassName("tript");
            var rup = document.getElementsByClassName("rup");
            var rdn = document.getElementsByClassName("rdn");
            var pw = document.getElementsByClassName("pw");
            var pon = document.getElementsByClassName("pon");
            var pdn = document.getElementsByClassName("pdn");
            for (var i=0; i<setpt.length; i++) {
                setpt[i].readOnly = false;
                tripi[i].readOnly = false;
                tript[i].readOnly = false;
                rup[i].readOnly = false;
                rdn[i].readOnly = false;
                pw[i].disabled = false;
                pon[i].disabled = false;
                pdn[i].disabled = false;
            }
        }
    </script>
{% endblock %}
